<section
  class="my-2 rounded-3 px-3 py-4 d-flex flex-wrap align-items-center justify-content-between task-item-section"
  [ngClass]="{
    'highest-priority': task.priority === priority.Highest,
    completed: task.isDone
  }"
>
  <div class="task-title">
    <input
      type="checkbox"
      class="checkbox-square"
      [checked]="task.isDone"
      (click)="changeTaskToDone(taskListId, task.id)"
    />
    <div class="task-text" [ngClass]="{
    'task-text-completed': task.isDone
    }"
    >{{ task.title }}</div>
  </div>
  <div>
    <span class="task-text" [ngClass]="{
    'task-text-completed': task.isDone
    }"
    >Priority:</span>
    <span class="task-text" [ngClass]="{
    'task-text-completed': task.isDone
    }"
    >{{ task.priority }}</span>
  </div>
  <div>
    <span class="task-text" [ngClass]="{
    'task-text-completed': task.isDone
    }"

    >Due Date: </span>
    <span class="task-text" [ngClass]="{
    'task-text-completed': task.isDone
    }"
    >{{ task.dueDate | date }}</span>
  </div>
</section>
