.task-title {
  font-size: 1.5em;
}

.highest-priority {
  background-color: #E29F9D;
  color: #7A0000;
}

.high-priority {
  background-color: #ECCDEF;
  color: #750066;
}

.medium-priority {
  background-color: #EDF0D0;
  color: #596B00;
}

.low-priority {
  background-color: #D0DDF0;
  color: #00506B;
}

.completed {
  position: relative;
  background-color: #DEDEDE;
  color: #606060;
}
.completed::after {
    content: "";
    position: absolute;
    top: 50%;              
    left: 50%;
    right: 0;
    width: 92%;            
    transform: translateX(-50%); 
    background-color: #606060; 
    z-index: 1;   
    height: 1px;
}

.task-item-section {
  border:1px solid #CCC;
}