<section>
  <div class="title-section">
    <h3 class="title">{{ taskList.name }}</h3>
    <div class="progress-bar"></div>
    <div *ngIf="taskTotalLength">
      {{ unfinishedTasksLength }}/{{ taskTotalLength }}
    </div>
    <button class="add-button" routerLink="create-task">Add</button>
  </div>

  <div *ngIf="taskList.tasks.length; else noTasks">
    <h4 class="title">Incomplete Tasks</h4>
    <div *ngFor="let task of taskList.tasks">
      <div *ngIf="!task.isDone">
        <app-task [task]="task" [taskListId]="taskList.id"></app-task>
      </div>
    </div>
    <h4 class="title">Completed Tasks</h4>
    <div *ngFor="let task of taskList.tasks">
      <div *ngIf="task.isDone">
        <app-task [task]="task" [taskListId]="taskList.id"></app-task>
      </div>
    </div>
  </div>

  <ng-template #noTasks>
    <h3>There are no tasks in this list yet!</h3>
  </ng-template>
</section>
