<section class="sidebar">
  <div class="project-header">
    <a [routerLink]="['/']"><h1>Projects</h1></a>
    <button class="add-button" (click)="onAddList()">Add</button>
  </div>

  <div *ngIf="!addingList">
    <form
      class="project-creation-form"
      [formGroup]="createListForm"
      (ngSubmit)="onCreateProject()"
    >
      <input
        autocomplete="off"
        formControlName="title"
        class="project-creation-name"
        type="text"
      />
      <button
        type="submit"
        class="add-button"
        [disabled]="!createListForm.valid"
      >
        Confirm
      </button>
    </form>
  </div>

  <section class="task-list-section">
    <app-projects-list
      [project]="project"
      *ngFor="let project of projects"
    ></app-projects-list>
  </section>
</section>
