.sidebar {
  height: 100vh;
  background-color: #ffffff;
  width: 20vw;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.task-list-section {
  padding-top: 1rem;
}

.project-creation-section {
  display: flex;
  justify-content: space-between;
}

.project-creation-name {
  border-radius: 10px;
}
