<h1>Create a new task</h1>
<form class="d-flex flex-column" [formGroup]="taskForm" (ngSubmit)="onCreateTask()">
    <label for="title">Title</label>
    <input id="title" formControlName="title" autocomplete="off">
    <label for="due-date">Due Date</label>
    <input type="datetime-local" id="due-date" formControlName="dueDate" autocomplete="off">
    <label for="priority">Priority</label>
    <select id="priority" formControlName="priority">
        <option value="">--Please choose an option--</option>
        <option *ngFor="let priority of priorities" value="{{priority}}">{{priority}}</option>
    </select>


    <button type="submit" [disabled]="!taskForm.valid">Submit</button>
</form>

<!--
<ng-container *ngFor="let item of priority | keyvalue">
    {{item.key}}
</ng-container> -->
