<h1 class="title">Create a new task</h1>
<form
  class="d-flex flex-column"
  [formGroup]="taskForm"
  (ngSubmit)="onCreateTask()"
>
  <label for="title">Title</label>
  <input id="title" formControlName="title" autocomplete="off" />
  <label for="due-date">Due Date</label>
  <input
    type="datetime-local"
    id="due-date"
    formControlName="dueDate"
    autocomplete="off"
  />
  <label for="priority">Priority</label>
  <select id="priority" formControlName="priority">
    <option value="">--Please choose an option--</option>
    <option *ngFor="let priority of priorities" value="{{ priority }}">
      {{ priority }}
    </option>
  </select>
  <label for="task-list">Task List</label>
  <select id="task-list" formControlName="taskList">
    <option value="">--Please choose an List--</option>
    <option *ngFor="let taskList of taskLists" value="{{ taskList.taskListId }}">
      {{ taskList.taskListName }}
    </option>
  </select>

  <button type="submit" [disabled]="!taskForm.valid">Submit</button>
</form>
