<div *ngIf="listOfTasks$|async as listOfTask; else loading">

  <div *ngIf="listOfTask.length > 0; else noTasks">
    <div *ngFor="let task of listOfTask">
      <section>
        <input type="checkbox" (click)="changeTaskToDone()">
        <p>{{task.title}}</p>
      </section>

      
    </div>
  </div>

  <ng-template #noTasks>
    <h2>There are not current tasks.</h2>
    <a routerLink="create-task">Add a new one</a>
  </ng-template>

</div>


<ng-template #loading>
  Tasks are loading...
</ng-template>
